#### Lisa Over
CMPINF 2110<br>
Homework 3: Stocks Data<br>
February 24, 2021

In [98]:
import sys
print(sys.executable)

/Users/lisa/opt/anaconda3/envs/cmpinf_2110/bin/python

In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

The Stock Prices data contains information that is redundant and not necessary to have in the price data file when considering storage, and these include 'symbol', 'company', 'sector', and 'exchange'. None of these columns have null values, and because the 'symbol' column consists of short strings, I decided to use 'symbol' as the key. I created the stock_info dataframe by grouping the tidy data on 'symbol', 'company', 'sector', and 'exchange'. I then removed the redundant stock columns 'company', 'sector', and 'exchange'. The 'symbol' column was left in the price data file as a foreign key.

The price_type variable is redundant, however, it consists of short strings that do not require additional columns of information so there is no need for another table to eliminate redundancy.

#### Read and display the data

In [100]:
file_name = "stocks_tidy.csv"
stock_df = pd.read_csv(file_name)
stock_df.head()

,Unnamed: 0,date,value,symbol,price_type,company,sector,exchange
0,0,2020-09-01,132.759995,AAPL,open,Apple Inc.,Information Technology,NASDAQ
1,1,2020-09-02,137.589996,AAPL,open,Apple Inc.,Information Technology,NASDAQ
2,2,2020-09-03,126.910004,AAPL,open,Apple Inc.,Information Technology,NASDAQ
3,3,2020-09-04,120.070000,AAPL,open,Apple Inc.,Information Technology,NASDAQ
4,4,2020-09-08,113.949997,AAPL,open,Apple Inc.,Information Technology,NASDAQ

#### Check missing values in each column

In [101]:
stock_df['date'].isnull().sum()

0

In [102]:
stock_df['value'].isnull().sum()

0

In [103]:
stock_df['symbol'].isnull().sum()

0

In [104]:
stock_df['price_type'].isnull().sum()

0

In [105]:
stock_df['company'].isnull().sum()

0

In [106]:
stock_df['sector'].isnull().sum()

0

In [107]:
stock_df['exchange'].isnull().sum()

0

#### Create stock_info dataset

In [108]:
stock_info = stock_df.groupby(['symbol','company','sector','exchange']).size().reset_index(name='num_rows')
stock_info

,symbol,company,sector,exchange,num_rows
0,AAPL,Apple Inc.,Information Technology,NASDAQ,400
1,AMZN,Amazon.com Inc.,Consumer Discretionary,NASDAQ,400
2,GME,GameStop Corp.,Consumer Discretionary,NYSE,400
3,KO,Coca-Cola Company,Consumer Staples,NYSE,400
4,TSLA,Tesla Inc,Consumer Discretionary,NASDAQ,400
5,VZ,Verizon Communications Inc.,Communication Services,NYSE,400

In [109]:
stock_info.drop(['num_rows'], axis=1, inplace=True)
stock_info

  symbol                      company                  sector exchange
0   AAPL                   Apple Inc.  Information Technology   NASDAQ
1   AMZN              Amazon.com Inc.  Consumer Discretionary   NASDAQ
2    GME               GameStop Corp.  Consumer Discretionary     NYSE
3     KO            Coca-Cola Company        Consumer Staples     NYSE
4   TSLA                    Tesla Inc  Consumer Discretionary   NASDAQ
5     VZ  Verizon Communications Inc.  Communication Services     NYSE

In [110]:
stock_info = stock_info[['symbol','company','sector','exchange']]
stock_info

  symbol                      company                  sector exchange
0   AAPL                   Apple Inc.  Information Technology   NASDAQ
1   AMZN              Amazon.com Inc.  Consumer Discretionary   NASDAQ
2    GME               GameStop Corp.  Consumer Discretionary     NYSE
3     KO            Coca-Cola Company        Consumer Staples     NYSE
4   TSLA                    Tesla Inc  Consumer Discretionary   NASDAQ
5     VZ  Verizon Communications Inc.  Communication Services     NYSE

In [111]:
stock_prices = stock_df[['date','symbol','price_type','value']].copy()
stock_prices.head()

         date symbol price_type       value
0  2020-09-01   AAPL       open  132.759995
1  2020-09-02   AAPL       open  137.589996
2  2020-09-03   AAPL       open  126.910004
3  2020-09-04   AAPL       open  120.070000
4  2020-09-08   AAPL       open  113.949997

#### Write price_data and stock_info to files

In [112]:
stock_info.to_csv('stock_info.csv', index=False)

In [113]:
stock_prices.rename(columns={"value": "price", "symbol": "stock_type"}, inplace=True)
stock_prices.head(10)

         date stock_type price_type       price
0  2020-09-01       AAPL       open  132.759995
1  2020-09-02       AAPL       open  137.589996
2  2020-09-03       AAPL       open  126.910004
3  2020-09-04       AAPL       open  120.070000
4  2020-09-08       AAPL       open  113.949997
5  2020-09-09       AAPL       open  117.260002
6  2020-09-10       AAPL       open  120.360001
7  2020-09-11       AAPL       open  114.570000
8  2020-09-14       AAPL       open  114.720001
9  2020-09-15       AAPL       open  118.330002

In [114]:
stock_prices.to_csv('stock_prices.csv', index=False)