## CMPINF 2110 Spring 2021 - Week 05

Make a small DataFrame with MISSING values. Export that DataFrame to CSV and change the MISSINGs from NaN to NULL to enable reading the data into MySQL.

In [1]:
import numpy as np
import pandas as pd

In [2]:
table_2 = pd.DataFrame({'x1': [1, np.nan, 3, 4],
                       'x2': [0, 1, np.nan, 2],
                       'x3': ['a', 'b', 'c', np.nan]})

In [3]:
table_2

    x1   x2   x3
0  1.0  0.0    a
1  NaN  1.0    b
2  3.0  NaN    c
3  4.0  2.0  NaN

In [4]:
table_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      3 non-null      float64
 1   x2      3 non-null      float64
 2   x3      3 non-null      object
dtypes: float64(2), object(1)
memory usage: 224.0+ bytes

In [5]:
table_2['id'] = table_2.index + 1

In [6]:
table_2

    x1   x2   x3  id
0  1.0  0.0    a   1
1  NaN  1.0    b   2
2  3.0  NaN    c   3
3  4.0  2.0  NaN   4

In [7]:
table_2 = table_2[['id', 'x1', 'x2', 'x3']]

In [8]:
table_2

   id   x1   x2   x3
0   1  1.0  0.0    a
1   2  NaN  1.0    b
2   3  3.0  NaN    c
3   4  4.0  2.0  NaN

Modify the MISSING values to be `NULL` in the exported CSV file by changing the `na_rep` argument as shown below.

In [9]:
table_2.to_csv('simple_table_with_NULL_values.csv', index=False, na_rep='NULL')